
.hero-section {
  background: @green;
  background: url(../assets/images/hero-bkg.jpg) no-repeat;
  background-size: cover;
  padding: 2.5em 0;
}

.add-grocery-section {
  background: @light-grey;
  border-bottom: 1px solid @border-grey;
}

.grocery-item {
  border-bottom: 1px solid @border-grey;
  p {
    font-size: 1.4em;
    color: @grey-lighter;
  }
}

.reset-section {
  border-top: 1px solid @border-grey;
}

.container {
  max-width: 500px;
}

.delete-btn {
  color: @dark-red;
  font-size: 1.25em;
  padding-left: 0.5em;
}
