// general
.container {
  max-width: 500px;
}

// element specific
.hero-section {
  background: @green;
  background: url(../assets/images/hero-bkg.jpg) no-repeat;
  background-size: cover;
  padding: 2.5em 0;
}

.add-grocery-section {
  background: @light-grey;
  border-bottom: 1px solid @border-grey;
}

.grocery-item {
  border-bottom: 1px solid @border-grey;
  position: relative;
  height: 3.5em;
}

.grocery-name {
  position: absolute;
  font-size: 1.4em;
  color: @grey-lighter;
  top: 0.5em;
}

.delete-btn {
  position: absolute;
  right: 0;
  font-size: 1.75em;
  color: @dark-red;
}

.reset-section {
  border-top: 1px solid @border-grey;
}
